

/*font size*/
#fontsize {
	margin:0;
	padding-right:15px;
	padding:15px;
	width:180px;
	height:55px;
	text-align:right;
	color:#FFF;
	background-color:#006;
	border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

#fontsize a {text-decoration:none; color:#FFF}
#fontsize .redfont a {/*color:#F00; */font-weight:bold;}
.font8 {font-size: 10px; margin: 0; padding: 0;}
#font10 {font-size: 12px; margin: 0; padding: 0;}
#font12 {font-size: 14px; margin: 0; padding: 0;}
#font14 {font-size: 16px; margin: 0; padding: 0;}
#font16 {font-size: 18px; margin: 0; padding: 0;}


/* dissolvenza */


#topsection{
    margin: 0;
    padding: 0;
	position:absolute;
		top:0;
		left:66%;
	display:none;
	
}


#hidetopsection{
    margin: 0;
    padding: 0;
	padding:5px;
	width:50px;
	height:20px;
	position:absolute;
		top:0;
		left:70%;
	font-size: 14px;
	color:#FFF;
	background-color:#006;
	border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

@media only screen and (max-width: 480px) {


#hidetopsection { 

   left: 43.5%;

 }

 #topsection{
       
		left:39.5%;
	   z-index: 999;
}


}

@media only screen and (max-width: 320px) {


#hidetopsection { 

   left: 33.5%;

 }

 #topsection{
       
		left:29.5%;
	   z-index: 999;
}


}
