
@import url(http://fonts.googleapis.com/css?family=Averia+Serif+Libre:400,700|Cutive);

/* MAIN SETTINGS */

body {

 margin: 0;
 padding: 0;
 background: #4264f7;
 font-family: Arial, Helvetica, sans-serif;
 font-size: 1em;
}


#wrapper {


    overflow: hidden;

}

#mobile1 {

   display: none;

}

#logo {

   background: url(images/logo_green.png);
   background-size: cover;
   width: 358px;
   height: 100px; 
   position: absolute;
   right: 350px;
   top: 170px;
} 

.left1 {

  width: 1583px;
  height: 1200px;
  border-top-right-radius: 1100px;

  background: #FFFFFF;
  overflow: hidden;
  
}

.middle1 {

  width: 1583px;
  height: 800px;
  background: #74b539;
  overflow: hidden;
  
}

.middle2 {

  width: 1583px;
  height: 600px;
  background: #74b539;
  overflow: hidden;
  
}

.right1 {

  
  position: relative;
  width: 1583px;
  height: 1200px;
  border-bottom-left-radius: 1100px;
  background: #FFFFFF;
  overflow: hidden;
  

}

article {

  margin-top: 300px;

}

.lefthead {

  position: absolute;
  right: 200px;
  width: 200px;
  height: 200px;
 padding-top: 70px;

}

.lefthead2 {

  
  width: 200px;
  height: 200px;
  right: 0;
  position: absolute;

}

.footer {

   width: 1583px;
   height: 150px;
   background: #FFFFFF;
   margin-top: 0;
}

#spectec {
   
   width: 500px;
   height: 300px;
   background: url(images/spectec_green.png);
   background-size: 100%;
   position: absolute;
   left: 200px;
   margin-top: 50px;
   z-index: 1;
}

#socfon {
   
   width: 500px;
   height: 300px;
   background: url(images/socfon_green.png);
   background-size: 100%;
   position: absolute;
   left: 200px;
   margin-top: 400px;
   z-index: 0;
}


#tabs-cont {

width: 1200px;
height: 340px;
margin-top: 80px;
position: absolute;
left: -1100px;
}



#tabs {
 

 width: 1100px;
 height: 300px;
 z-index: 100;  
 
 float: left;

} 

#tabs-1, #tabs-2, #tabs-3,  #tabs-4, #tabs-5 {

font-size: 0.9em;
width: 1500px;
height: 290px;

}

#sort {

	margin-top: 465px;
	z-index: 100;
	width: 1000px;
	height: 400px;
	position: absolute;
	left: -950px;

}

#sortin {

 position: relative;
 width: 950px;
 float: left;
}

.middlehead2 {

  width: 240px;
  height: 230px;
  position: absolute;
  margin-right: 0px;

}

/* TEXT SETTINGS */

h1 {
 
 color: #FFFFFF;
 font-family: 'Averia Serif Libre', Arial, Helvetica, sans-serif;
 font-size: 4em;
 position: absolute;
 left: 400px;
 top: 250px;
}

.title_left {

  margin-left: 50px;
  width: 200px;
  height: 200px;
  background: #FFFFFF url(images/info_green.png) center no-repeat;
  background-size: 70%;
  border-radius: 600px;
  text-align: center;


}

.title_left2 {
	
  
  width: 230px;
  height: 220px;
  background: url(images/box_green.png)  no-repeat;
  background-size: 70%;
  text-align: center;
  position: relative;
  margin-right: 0;


}


.title_middle {
  
  width: 150px;
  height: 118px;
  top: 20px;
  position: relative;

}

.title_middle2 {
  
  width: 172px;
  height: 156px;
  top: 20px;
  position: relative;

}

.argom {

  color: #74b539;
  font-size: 2.9em;
  font-family: 'Averia Serif Libre', Arial, Helvetica, sans-serif;
  font-weight: bold;
  margin-top: 100px;
  margin-left: 95px;
  margin-bottom: 0;
}

section p {

  font-family: 'Cutive', Arial, Helvetica, sans-serif;
  margin: 10px 700px 0 100px;
  font-size: 0.95em;

}

.firp {

  margin-top: 50px;

}

.lasp {
  
  padding-bottom: 10px;
  border-bottom: 2px solid #c8c8c8;

}

.copy {
  
  color: #74b539;
  margin: 0;
  height: 100px;
  font-weight: bold;
  margin-left: 650px

}

/* NAV  & LINKS SETTINGS */

.menu {

  width: 1583px;
  margin-top: 425px;
  height: 180px;
  margin-left: 450px;
  margin-right: 450px;
}

.menu a{
  
  display: inline;
  float: left;
  margin-right: 50px;
  margin-top: 10px;
  width: 125px;
  height: 125px;
  border-radius: 500px;
  text-decoration: none;
  opacity: 0.6;
  color: #4264f7;
}

.info { background: #FFFFFF url(images/info_blue.png) no-repeat center ;
        background-size: 70% ; }

.foto {background: #FFFFFF url(images/camera_blue.png) no-repeat center ;
       background-size: 70% ;  }

.ordina { background: #FFFFFF url(images/box_blue.png) no-repeat center ;
          background-size: 70% ; }

.contatti {background: #FFFFFF url(images/mail_blue.png) no-repeat center ;
           background-size: 70% ;  }

.menu a:hover {

	opacity: 1;
	color: #FFFFFF !IMPORTANT; 
}

.menu a p {

   margin-top: 130px;
   text-align: center;
   font-family: 'Averia Serif Libre', Arial, Helvetica, sans-serif;
   font-size: 2em;
   font-weight: bold;
  
}

.arrowdown {
  
   width: 100px;
  height: 40px;
  left: 720px;
  bottom: 50px; 
  position:absolute;
  opacity: 0.6;
  border-style: none;
}

.arrowdown:hover {

   opacity: 1;
   border-style: none;
}

.footer a{

  width: 110px;
  height: 40px;
  margin-left: 740px;

}

.arrowup {
  
   width: 100px;
  height: 40px;
  opacity: 0.6;
  border-style: none;
}

.arrowup:hover {

   opacity: 1;
   border-style: none;
}

article a:link, article a:visited {

  color: #26cc00;

}

article a:hover {

  opacity: 0.6;
}

#mobile1{

 margin-top: -95px;

}

#mobile1 ul {

margin: 10px 40px 0 ;
font-size: 0.7em;
font-family: 'Cutive', Arial, Helvetica, sans-serif;


}

#mobile1 h3 {

font-family: 'Averia Serif Libre', Arial, Helvetica, sans-serif;
color: #74b539;
 text-align: center;
}

/* FLEXSLIDER */

.flex-container {
	width: 70%;
   overflow: hidden;
 height: 600px;
 max-height: 600px;
 margin-left: 15%;
 margin-top: 20px;
}

/* TAB SLIDE*/

.handle {

   background: url(images/splabel_green.png) no-repeat;
   width: 40px;
   height: 100px;
   float: left;
   z-index: 100;
    margin-top: 22px; 
    
}

.handle2 {
 
 background: url(images/sclabel_green.png) no-repeat;
 width: 40px;
   height: 100px;
   float: left;
   z-index: 100;
   margin-top: 22px; 
}

@keyframes mymove
{
0%   {left:-1100px;}
100% {left:0px;}
}

@-moz-keyframes mymove /* Firefox */
{
0%   {left:-1100px;}
100% {left:0px;}
}

@-webkit-keyframes mymove /* Safari and Chrome */
{
0%   {left:-1100px;}
100% {left:0px;}
}

@-o-keyframes mymove /* Opera */
{
0%   {left:-1100px;}
100% {left:0px;}
}






@keyframes mymove2
{
0%   {left:-950px;}
100% {left:0px;}
}

@-moz-keyframes mymove2 /* Firefox */
{
0%   {left:-950px;}
100% {left:0px;}
}

@-webkit-keyframes mymove2 /* Safari and Chrome */
{
0%   {left:-950px;}
100% {left:0px;}
}

@-o-keyframes mymove2 /* Opera */
{
0%   {left:-950px;}
100% {left:0px;}
}

#tabs-cont:hover {

 -webkit-animation: mymove 1.5s; /* Safari 4+ */
  -moz-animation:    mymove 1.5s ; /* Fx 5+ */
  -o-animation:      mymove 1.5s ; /* Opera 12+ */
  animation:         mymove 1.5s ; /* IE 10+ */
  left: 0;
	
}

#sort:hover {

 -webkit-animation: mymove2 1.5s; /* Safari 4+ */
  -moz-animation:    mymove2 1.5s ; /* Fx 5+ */
  -o-animation:      mymove2 1.5s ; /* Opera 12+ */
  animation:         mymove2 1.5s ; /* IE 10+ */
  left: 0;
	
}


/* FORMS & CONTACTS SETTINGS */


#formdiv {

 margin-top: 180px;
 margin-left: -50px;

}

form p input {

    margin-left: 20px;
    margin-top: 10px;
    width: 350px;
    height: 35px;
    border-radius: 2px;
    border: none;
     box-shadow: 1px 1px 3px #353535;
}

form #testo {

    margin-left: 20px;
    margin-top: 10px;
    width: 450px;
    min-height: 150px;
    border-radius: 2px;
    border: none;
    box-shadow: 1px 1px 3px #353535;
    max-width: 500px;
    max-height: 150px;
}


.button {

    width: 100px;
    height: 35px;
    background: #FFFFFF ;
    border: none;
    float: right;
    margin-top: 0;
    margin-right: 290px;
    border-radius: 6px;
    color: #74b539;
    font-family: 'Averia Serif Libre', Arial, Helvetica, sans-serif ;
    letter-spacing: 2px;
    font-size: 1.5em;
    box-shadow: 1px 1px 3px #353535;
    font-weight: bold;
}

.button:hover {

   color: #f6a01a !important; 
}

#formalert {

 color: #FF0000;
 background: #FFFFFF;
 margin-right: 0;
 margin-left: 100px;
 font-size: 0.9em;
}

.lab  {

   color: #FFFFFF;
   font-family: 'Averia Serif Libre', Arial, Helvetica, sans-serif ;
   font-weight: bold;
   font-size: 1.5em;
}

#stupid {

  vertical-align: 75px

}

#contact_panel {
 
 width: 500px;
 height: 250px;
position: absolute;
top: 4170px;
right: 0;
 
} 

#contact_panel div {

font-size: 0.8em;
width: 414px;
height: 200px;
margin-bottom: 0;
}

#contact_panel div p{

margin-left: 20px;
width: 414px;
height: 190px;
margin-bottom: 0;
}

#emai {

font-size: 0.7em;

}

#ordform {

margin-top:-200px;
margin-left:  900px;

}

.pren {

color: #74b539;
  font-size: 2.9em;
  font-family: 'Averia Serif Libre', Arial, Helvetica, sans-serif;
  font-weight: bold;
 margin-left: 320px;
 
}

.ord {

  margin-bottom: 0;
  margin-top: 50px;
   margin-left: 100px;
   margin-right: 800px;
}



/* MEDIA QUERIES */ 

/* PC &LAPTOPS */

@media only screen and (min-height: 800px) {

article {

margin-top: 500px;

}

}
 
 @media only screen and (min-width: 1720px) {


 #logo {

   
   width: 358px;
   height: 100px; 
   position: absolute;
   right: 300px;
   top: 170px;
} 

h1 {
 

 font-size: 4.8em;
 position: absolute;
 left: 505px;
 top: 250px;
}

.menu {

  width: 1920px;
  margin-top: 425px;
  height: 180px;
  margin-left: 645px;
 
}




.left1 {

  width: 1920px;
  height: 1200px;
  border-top-right-radius: 1100px;
  margin-right: 0;
  background: #FFFFFF;
  overflow: hidden;
  
}

.arrowdown {

  margin-left: 205px;

}

.middle1 {

  width: 1920px;
  height: 800px;
  background: #74b539;
  overflow: hidden;
  
}

.middle2 {

  width: 1920px;
  height: 600px;
  background: #74b539;
  overflow: hidden;
  
}

.right1 {

  
  position: relative;
  width: 1920px;
  height: 1200px;
  border-bottom-left-radius: 1100px;
  background: #FFFFFF;
  overflow: hidden;

}

.flex-container {
  
 margin-left: 13.5%;
 
}


.footer {

  width: 1920px;

}

#contact_panel {
 
 width: 500px;
 height: 250px;
position: absolute;
top: 4360px;
right: 0;
 
} 

.button {

  margin-right: 625px;

}

.copy {

  margin-left: 830px

}

.footer a{


  margin-left: 920px;

}

 }






@media only screen and (max-width: 1440px) {


#wrapper {

   
    overflow: hidden;

}

#logo {

   
   width: 358px;
   height: 100px; 
   position: absolute;
   right: 300px;
   top: 170px;
} 

h1 {
 

 font-size: 3.8em;
 position: absolute;
 left: 375px;
 top: 250px;
}

.menu {

  width: 1425px;
  margin-top: 425px;
  height: 180px;
  margin-left: 405px;
  margin-right: 425px;
}

.arrowdown {
  
   width: 100px;
  height: 40px;
  left: 680px;
  bottom: 50px; 
  position:absolute;
 
}

.flex-container {
	 margin-left: 12%;

}

#ordform {

margin-top: -200px;
margin-left:  650px;

}

.lefthead2 {
	
  right: 125px;
}

.copy {

  margin-left: 590px

}

.footer a{

  width: 110px;
  height: 40px;
  margin-left: 680px;

}

}

@media only screen and (max-width: 1366px) {




#logo {

  

   right: 200px;
   top: 170px;
} 

.left1 {

  width: 1366px;
  height: 1200px;
  border-top-right-radius: 1100px;

  background: #FFFFFF;
  overflow: hidden;
  
}

.middle1 {

  width: 1366px;
  height: 800px;
  background: #74b539;
  overflow: hidden;
  
}

.middle2 {

  width: 1366px;
  height: 600px;
  background: #74b539;
  overflow: hidden;
  
}

.right1 {

  
  position: relative;
  width: 1366px;
  height: 1200px;
  border-bottom-left-radius: 1100px;
  background: #FFFFFF;
  overflow: hidden;

}

#tabs-1, #tabs-2, #tabs-3,  #tabs-4, #tabs-5 {

font-size: 0.9em;
width: 1200px;
height: 290px;

}

.lefthead2 {
	
  right: 25px;
}

#ordform {

margin-top:-250px;


}

}


@media only screen and (max-width: 1280px) {


.arrowdown {
  
   width: 100px;
  height: 40px;
  left: 600px;
  bottom: 50px; 
  position:absolute;
 
}

.menu {

  width: 1280px;
  margin-top: 425px;
  height: 180px;
  margin-left: 330px;
  margin-right: 425px;
}


h1 {
 

 font-size: 3.6em;
 position: absolute;
 left: 315px;
 top: 250px;
}

#tabs-1, #tabs-2, #tabs-3,  #tabs-4, #tabs-5 {

font-size: 0.9em;
width: 1100px;
height: 290px;

}

.lefthead2 {
	
  right: 100px;
}

#ordform {

margin-top: -250px;
margin-left:  525px;

}

.pren {


 margin-left: 225px;
 
}

.copy {
  
  
  margin-left: 510px

}

.footer a{

  
  margin-left: 600px;

}


}

@media only screen and (min-width: 1025px){ .inv {display:none;} #ordform{position:relative;}}

@media only screen and (max-width: 1024px) {



h1 {

  font-size: 3.0em;

}


#logo {

  
   width: 258px;
   height: 67px;
   right: 200px;
   top: 170px;
} 


.menu {

  width: 1024px;
   margin-left: 280px;
   margin-top: 380px;
}

.menu a{
  
  
  margin-right: 50px;
  margin-top: 10px;
  width: 83px;
  height: 83px;
  border-radius: 500px;
 
}

.menu a p {

   margin-top: 85px;
   text-align: center;
   font-family: 'Averia Serif Libre', Arial, Helvetica, sans-serif;
   font-size: 1.5em;
   font-weight: bold;
  
}

.arrowdown {
  
   width: 67px;
  height: 27px;
  left: 490px;
  bottom: 50px; 
  position:absolute;
 
}

.title_left {

  margin-left: 150px;
  width: 150px;
  height: 150px;
  background: #FFFFFF url(images/info_green.png) center no-repeat;
  background-size: 70%;
  border-radius: 600px;
  text-align: center;



}

#tabs-cont {

width: 1000px;
height: 240px;
margin-top: 80px;
position: absolute;
left: -910px;
}



#tabs {
 

 width: 900px;
 height: 200px;
 

} 


#tabs-1 , #tabs-2 , #tabs-3 ,  #tabs-4 , #tabs-5 {


width: 800px;
height: 200px;

}

#tabs li {

font-size: 0.6em;

}

#spectec {
   
   width: 333px;
   height: 200px;
  
   left: 200px;
   margin-top: 50px;
   z-index: 1;
}

#socfon {
   
   width: 333px;
   height: 200px;
   left: 200px;
   margin-top: 450px;
   z-index: 0;
}

.middle1 {

  width: 1024px;
  height: 700px;
  background: #74b539;
  overflow: hidden;
  
}

.middle2 {

  width: 1024px;
  height: 650px;
  background: #74b539;
  overflow: hidden;
  
}

.flex-container {
 width: 80%;
 margin-left: 10%;
 margin-top: 20px;
}

#ordform {

 left: -9999px;
 position: absolute;
}

.inv { 

  font-size: 3em;
  opacity: 1;
  position: absolute;
  left: 380px;
  top: 340px;  

}

.lefthead2 {

  
 right: 0;
 z-index: 999;
 margin-right: 350px;
}


#contact_panel {
 
 width: 333px;
 height: 180px;
position: absolute;
top: 4110px;
right: 0;
 
} 

#contact_panel div {

font-size: 0.8em;
width: 247px;
height: 150px;
margin-bottom: 0;
}

#contact_panel div p{

margin-left: 20px;
width: 250px;
height: 150px;
margin-bottom: 0;
font-size: 0.5em;
}

#contact_panel h3 {
 
 font-size: 0.6em;

}

#emai {
 
 font-size: 0.5em;

}


#formdiv {

 margin-top: 180px;
 margin-left: 80px;

}

#formdiv p{

 margin: 5px;
 width: 400px;

}

form p input {

    margin-left: 20px;
    margin-top: 10px;
    width: 280px;
    height: 25px;
   }

form #testo {

    margin-left: 20px;
    margin-top: -10px;
    width: 300px;
    min-height: 75px;
   
    max-width: 300px;
    max-height: 75px;
}


.button {

    width: 100px;
    height: 35px;
   
    margin-left: 290px;
    float: left;
    font-size: 1.2em;
 
}


.footer {

   width: 1024px;
   height: 150px;
   background: #FFFFFF;
   margin-top: 0;
}

.copy {

  margin-left: 380px;

}

.footer a{

  width: 110px;
  height: 40px;
  margin-left: 475px;

}

}

@media only screen and (max-width: 800px) {



h1 {

  font-size: 2.7em;

}


#logo {

  
   width: 258px;
   height: 67px;
   right: 100px;
   position: absolute;
} 


.menu {

  width: 800px;
   
}



.arrowdown {
  
   
  left: 385px;
  bottom: 20px; 
  position:absolute;
 
}

#tabs-cont {

width: 750px;
height: 240px;
margin-top: 80px;
position: absolute;
left: -650px;
}



#tabs {
 

 width: 650px;
 height: 200px;
 

} 


#tabs-1 , #tabs-2 , #tabs-3 ,  #tabs-4 , #tabs-5 {


width: 650px;
height: 200px;

}

#sort {

  margin-top: 465px;
  z-index: 100;
  width: 780px;
  height: 400px;
  position: absolute;
  left: -720px;

}

#sortin {

 position: relative;
 width: 720px;
 float: left;
}

.flex-container {
 width: 60%;
 margin-left: 8.5%;
 margin-top: 20px;
}

.lefthead2 {

  
 left: 0;
 z-index: 999;
 margin-left: 600px;
}

#formdiv {

 margin-top: 180px;
 margin-left: 5px;

}

#formdiv p{

 margin: 5px;
 width: 400px;

}

.copy {

  margin-left: 275px;

}

.footer a{

  width: 110px;
  height: 40px;
  margin-left: 370px;

}


}

@media only screen and (max-width: 720px) {

.lefthead {

  right: 160px;
 
 
}

#contact_panel {
 
 width: 300px;
 
 
} 

#contact_panel div {


width: 214px;

}

#contact_panel div p{


width: 214px;

}

#contact_panel h3 {
 
width:259px;

}

.copy {

  margin-left: 235px;

}

.footer a{

  width: 110px;
  height: 40px;
  margin-left: 325px;

}

#tabs-cont {

width: 700px;
height: 240px;
margin-top: 80px;
position: absolute;
left: -600px;
}



#tabs {
 

 width: 600px;
 height: 200px;
 

} 


#tabs-1 , #tabs-2 , #tabs-3 ,  #tabs-4 , #tabs-5 {


width: 600px;
height: 200px;

}

#sort {

  margin-top: 465px;
  z-index: 100;
  width: 700px;
  height: 400px;
  position: absolute;
  left: -660px;

}

#sortin {

 position: relative;
 width: 660px;
 float: left;
}

.flex-container {
 width: 60%;
 margin-left: 4.5%;
 margin-top: 20px;
}

.lefthead2 {

  
 left: 0;
 z-index: 999;
 margin-left: 540px;
}

}

@media only screen and (max-width: 640px) {

h1 {

  left: 100px;
  font-size: 2.5em;
}


#logo {

  
 
   right: 40px;

} 


.menu {

  width: 640px;
  margin-left: 70px; 
}



.arrowdown {
  
   
  left: 295px;
  bottom: 20px; 
  position:absolute;
 
}

.left1 {

  width: 640px;
 
  border-top-right-radius: 0;

  background: #FFFFFF;
  overflow: hidden;
  
}
.argom {

  max-width: 630px;
  font-size: 2.4em;
  font-weight: bold;
  text-align: left;
  margin-left: 20px; 
  border-bottom: 2px solid #1a1a1a;
}

section p {

  font-family: 'Cutive', Arial, Helvetica, sans-serif;
  margin: 10px 20px 0 20px;
  font-size: 0.8em;

}


.flex-container {
 width: 50%;
 margin-left: 5.5%;
 margin-top: 80px;
}

.lefthead2 {

  
 left: 0;
 z-index: 999;
 margin-left: 450px;
}




.ord {

  margin-bottom: 0;
  margin-top: 50px;
   margin-left: 100px;
   margin-right: 20px;
   width: 300px;
   z-index: 100;
}

.pren {

  font-size: 2.7em;
  margin-top: 80px;
  font-weight: bold;
 margin-left: 100px;
 
}

.inv { 

  
  left: 120px;
  top: 340px;  

}

#contact_panel {
 
 width: 600px;
 height: 200px;
position: absolute;
top: 4210px;
left: 0;

 
} 

#contact_panel div {

font-size: 0.8em;
width: 539px;
height: 200px;
margin-bottom: 0;

}

#contact_panel div p{

margin-left: 20px;
width: 539px;
height: 75px;
margin-bottom: 0;
font-size: 0.7em;
}

#contact_panel h3 {
 
 font-size: 0.8em;
width: 571px;
}

.copy {

  margin-left: 190px;

}

.footer a{

  width: 110px;
  height: 40px;
  margin-left: 275px;

}

}


 /* MOBILES */
@media only screen and (max-height: 600px) {

  
  #logo {

  
   
   right: 160px;
   top: 120px;
} 

h1 {

 left: 240px;
 top: 180px;

}

.menu {

  
   margin-left: 280px;
   margin-top: 300px;
}
     
    
}

@media only screen and (max-height: 480px) {



 #logo {

  
   
   right: 60px;
   top: 80px;
} 

h1 {

 left: 165px;
 top: 130px;

}

.menu {

  
   margin-left: 180px;
   margin-top: 220px;
}

.lefthead {

  
 
  top: 600px;
  
}

#contact_panel {
 

 height: 180px;
position: absolute;
top: 3980px;
right: 0;
 
} 


}


@media only screen and (max-width: 480px) {


h1 {

  font-size: 2.8em;
  top: 150px;
  left: 115px;
  width:70%;
}


#logo {

  
   width: 358px;
   height: 100px;
   left: 50px;
   top: 50px;
} 


.menu {

   width: 300px;
   margin-left: 120px;
   margin-top: 320px;
}

.menu a{
  
  
  margin-right: 50px;
  margin-top: 40px;
  width: 100px;
  height: 100px;
  border-radius: 500px;
 
}

.menu a p {

   margin-top: 100px;
   text-align: center;
   font-family: 'Averia Serif Libre', Arial, Helvetica, sans-serif;
   font-size: 1.5em;
   font-weight: bold;
  
}

.arrowdown {
  
   width: 67px;
  height: 27px;
  left: 215px;
  bottom: 50px; 
  position:absolute;
 
}

.lefthead {

  
  right: 0px;
  top: 660px;
  width: 200px;
  height: 200px;
 z-index: 100;
}

.title_left {

  margin-left: 0px;
  width: 100px;
  height: 100px;
  background: #FFFFFF url(images/info_green.png) center no-repeat;
  background-size: 70%;
  border-radius: 600px;
  margin-left: 100px;

}

.title_left2 {

height: 120px;
background-size: 60%;

}

.left1 {

  width: 480px;
 
  border-top-right-radius: 0;

  background: #FFFFFF;
  overflow: hidden;
  
}

.argom {

  max-width: 480px;
  font-size: 1.7em;
  font-weight: bold;
  text-align: left;
  margin-left: 20px; 
  border-bottom: 2px solid #1a1a1a;
}
section p {

  font-family: 'Cutive', Arial, Helvetica, sans-serif;
  margin: 10px 25px 0 25px;
  font-size: 0.9em;

}

.ord {

  margin-bottom: 0;
  margin-top: 50px;
   margin-left: 100px;
   margin-right: 20px;
   width: 300px;
   z-index: 100;
}

.pren {

  font-size: 2.7em;
  margin-top: 80px;
  font-weight: bold;
 margin-left: 100px;
 
}



.middle1 {

  width: 480px;
  height: 700px;
  background: #74b539;
  overflow: hidden;
  
}

.middle2 {

  width: 480px;
  height: 650px;
  background: #74b539;
  overflow: hidden;
  
}

.flex-container {
 width: 80%;
 margin-left: 10%;
 margin-top: 100px;
}


#ordform {

 left: -9999px;
 position: absolute;
}

.inv { 

  font-size: 3em;
  opacity: 1;
  position: absolute;
  left: 120px;
  top: 340px;  

}

.lefthead2 {

  
left: 300px;
margin: 0;
background-size: 10%;
z-index: 0;
}


#contact_panel {
 
 width: 458px;
 height: 200px;
position: absolute;
top: 4110px;

 
} 

#contact_panel div {

font-size: 0.8em;
width: 372px;
height: 200px;
margin-bottom: 0;
}

#contact_panel div p{

margin-left: 20px;
width: 100px;
height: 75px;
margin-bottom: 0;
font-size: 0.7em;
}

#contact_panel h3 {
 
 font-size: 0.8em;
 width: 404px;
}

#emai {
 
 font-size: 0.5em;

}


#formdiv {


 margin-left: -9990px;

}




.footer {

   width: 480px;
   height: 150px;
   background: #FFFFFF;
   margin-top: 0;
}

.copy {

  margin-left: 85px;

}

.footer a{

  width: 110px;
  height: 40px;
  margin-left: 190px;

}

}








@media only screen and (max-width: 320px) {


h1 {

  font-size: 2.2em;
  top: 100px;
  left: 60px;
  width:70%;
}


#logo {

  
   width: 239px;
   height: 67px;
   left: 30px;
   top: 50px;
} 


.menu {

   width: 300px;
   margin-left: 30px;
   margin-top: 220px;
}

.menu a{
  
  
  margin-right: 50px;
  margin-top: 40px;
  width: 100px;
  height: 100px;
  border-radius: 500px;
 
}

.menu a p {

   margin-top: 100px;
   text-align: center;
   font-family: 'Averia Serif Libre', Arial, Helvetica, sans-serif;
   font-size: 1.5em;
   font-weight: bold;
  
}

.arrowdown {
  
   width: 67px;
  height: 27px;
  left: 122px;
  bottom: 35px; 
  position:absolute;
 
}

.lefthead {

  
  right: 0px;
  top: 560px;
  width: 200px;
  height: 200px;
 z-index: 100;
}

.title_left {

  margin-left: 0px;
  width: 100px;
  height: 100px;
  background: #FFFFFF url(images/info_green.png) center no-repeat;
  background-size: 70%;
  border-radius: 600px;
  margin-left: 100px;

}

.title_left2 {

height: 120px;
background-size: 50%;

}

.left1 {

  width: 320px;
  height: 1300px;
  border-top-right-radius: 0;

  background: #FFFFFF;
  overflow: hidden;
  
}

.argom {

  max-width: 320px;
  font-size: 1.5em;
  font-weight: bold;
  text-align: left;
  margin-left: 20px; 
  border-bottom: 2px solid #1a1a1a;
}
section p {

  font-family: 'Cutive', Arial, Helvetica, sans-serif;
  margin: 10px 20px 0 20px;
  font-size: 0.7em;

}

.ord {

  margin-bottom: 0;
  margin-top: 30px;
   margin-left: 70px;
   margin-right: 20px;
   width: 200px;
   z-index: 100;
}

.pren {

  font-size: 2.7em;
  margin-top: 100px;
  font-weight: bold;
 margin-left: 65px;
 
}



.middle1 {

  width: 480px;
  height: 500px;
  background: #74b539;
  overflow: hidden;
  
}

.middle2 {

  width: 480px;
  height: 650px;
  background: #74b539;
  overflow: hidden;
  
}

.flex-container {
 width: 60%;
 margin-left: 1.5%;
 margin-top: 50px;
}


#ordform {

 left: -9999px;
 position: absolute;
}

.inv { 

  font-size: 2.5em;
  opacity: 1;
  position: absolute;
  left: 70px;
  top: 340px;  

}

.lefthead2 {

  
left:190px;

z-index: 0;
}


#contact_panel {
 
 width: 320px;
 height: 200px;
position: absolute;
top: 3900px;

 
} 

#contact_panel div {

font-size: 0.8em;
width: 234px;
height: 200px;
margin-bottom: 0;
}

#contact_panel div p{

margin-left: 20px;
width: 100px;
height: 75px;
margin-bottom: 0;
font-size: 0.7em;
}

#contact_panel h3 {
 
 font-size: 0.8em;

}

#emai {
 
 font-size: 0.5em;

}


#formdiv {


 margin-left: -9990px;

}




.footer {

   width: 480px;
   height: 150px;
   background: #FFFFFF;
   margin-top: 0;
}

.copy {

  margin-left: 5px;
  
}

.footer a{

  width: 110px;
  height: 40px;
  margin-left: 115px;

}



}

@media only screen and (max-height: 320px) {


.arrowdown {
  
   
  bottom: -230px; 
  position:absolute;
 
}


#contact_panel div {

font-size: 0.8em;
width: 394px;
height: 200px;
margin-bottom: 0;
}

#contact_panel div p{

margin-left: 20px;
width: 394px;
height: 75px;
margin-bottom: 0;
font-size: 0.7em;
}

#contact_panel h3 {
 
 width: 426px;

}

.lefthead2 {

  
margin: 0;
}

}