	/** LOGO */
	
#titolo {
	float:left;
}

#logo {
	width: 910px;
	height: 134px;
	background: url(../images/img04.jpg) no-repeat right top;
	margin-top: 0;
	margin-right: auto;
	margin-bottom: 0;
	margin-left: auto;
}

#logo h1, #logo p {
	margin: 0px;
	line-height: normal;
	text-transform: capitalize;
	font-weight: normal;
	color: #FFFFFF;
}

#logo p {
	text-transform: none;
	font-size: 14px;
}

#logo h1 {
	padding-top: 54px;
	font-size: 34px;
}
/* Header */

#header {
	width: 920px;
	height: 45px;
	margin: 0 auto;
}

/*font size*/
#fontsize {
	margin:0;
	padding-right:15px;
	padding:15px;
	width:180px;
	height:55px;
	text-align:right;
	color:#FFF;
	background-color:#006;
	border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

#fontsize a {text-decoration:none; color:#FFF}
#fontsize .redfont a {/*color:#F00; */font-weight:bold;}
#font8 {font-size: 10px; margin: 0; padding: 0;}
#font10 {font-size: 12px; margin: 0; padding: 0;}
#font12 {font-size: 14px; margin: 0; padding: 0;}
#font14 {font-size: 16px; margin: 0; padding: 0;}
#font16 {font-size: 18px; margin: 0; padding: 0;}


/* dissolvenza */


#topsection{
    margin: 0;
    padding: 0;
	position:absolute;
		top:0;
		left:66%;
	display:none;
	
}


#hidetopsection{
    margin: 0;
    padding: 0;
	padding:5px;
	width:50px;
	height:20px;
	position:absolute;
		top:0;
		left:70%;
	font-size: 14px;
	color:#FFF;
	background-color:#006;
	border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}


/* Menu */

#menu {
	float: left;
	width: 940px;
	height: 45px;
}

#menu ul {
	margin: 0;
	padding: 10px 0px 0px 5px;
	list-style: none;
	line-height: normal;
}

#menu li {
	display: inline;
	float: left;
}

#menu a {
	float: left;
	margin-right: 3px;
	padding: 3px 25px 2px 25px;
	text-decoration: none;
	text-transform: capitalize;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 14px;
	color: #FFFFFF;
}

#menu a:hover { background: #FEC200 url(../images/img02.jpg) repeat-x left top; height: 20px; }

#menu .pagina-corrente a {
	height: 20px;
	background: #FEC200 url(../images/img02.jpg) repeat-x left top;
	color: #FFFFFF;
}

#menu .verde a:hover {
	height: 20px;
	background: #FEC200 url(../images/img02-c.jpg) repeat-x left top;
	color: #FFFFFF;
}

#menu .rosso a:hover {
	height: 20px;
	background: #FEC200 url(../images/img02-b.jpg) repeat-x left top;
	color: #FFFFFF;
}

#menu .viola a:hover {
	height: 20px;
	background: #FEC200 url(../images/img02-d.jpg) repeat-x left top;
	color: #FFFFFF;
}

#menu .blu a:hover {
	height: 20px;
	background: #0C95C9 repeat-x left top;
	color: #FFFFFF;
}
