body {
	margin: 0;
	padding: 0;
	background: url(../images/img01.jpg) repeat-x left top;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 12px;
	color: #66665E;
	line-height: 14px;
}



h2 {
	margin: 0;
	text-transform: uppercase;
	font-family: Trebuchet MS, Georgia, Times New Roman, Times, serif;
	font-weight: bold;
	color: #0C95C9;
	text-align: justify;
	font-size: 1,6em;
     margin-bottom: 15px
}

h3 {
	margin: 0;
	text-transform: uppercase;
	font-family: Trebuchet MS, Georgia, Times New Roman, Times, serif;
	font-weight: bold;
	color: #0C95C9;
	text-align: justify;
	font-size: 1,1em;
     margin-bottom: 15px;
}

h1 { font-size: 8,3em;
font-family: Trebuchet MS, Georgia, Times New Roman, Times, serif;
     font-weight: 900;
     margin: 0;
	text-transform: uppercase;
	color: #0C95C9;
}



p {
	margin-top: 0;
	line-height: 130%;
	text-align: justify;
	font-size: 1,2em;
}

a { color: #0C95C9; }

a:hover { text-decoration: none; }

a img {border: none;}
img {border: none;}


#contenitore {
	width: 100%;
	height: 100%;

			}
			


/* Pagina */

#pagina {
	width: 920px;
	height:550px;
	margin: 25px auto;
	padding: 40px;
}


#pagina_cont {
	width: 1420px;
	height:550px;
	margin: 25px auto;
	padding: 40px;
}


/* Contenuto */

#contenuto {
	float: right;
	width: 658px;
	padding-top: 3px;
	padding-right: 30px;
	height: 550px;
	margin-bottom: 100px;
	
}
/* Contenuto contatti */

#contenuto-cont {
	float: right;
	width: 910px;
	padding-top: 3px;
	padding-right: 10px;
	height: 550px;
	
}

/* Sidebar */

#sidebar {
	float: left;
	width: 177px;
	padding-left: 9px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #585D60;
}

#sidebar h2 {
	height: 26px;
	text-transform: capitalize;
	font-size: 18px;
	font-weight: normal;
	color: #464F54;
	margin-top: 0;
	margin-right: 0;
	margin-bottom: 2px;
	margin-left: 0px;
	padding-top: 8px;
	padding-right: 0;
	padding-bottom: 2px;
	padding-left: 7px;
}
#sidebar .foto {
	width: 160px;
	height: 160px;
	padding:5px;

}


/* Footer */

#footer {
	height: 49px;
	margin: 0 auto;
	margin-top: 200px;
	background: #394144;
	padding-top: 20px;
	padding-left: 0px;

}


#copy {
	color: #FFFFFF;
	padding-top: 10px;
	text-align: center;
}
#copy p {
	font-size: 10px;
	text-align: center;
}

#copy a {
	color: #0CF;
	text-decoration:none;
}

#copy a:hover {
	color: #FFFFFF;
	text-decoration:none;
	
}


/* FORM CONTATTI */

#contacts {
padding: 1.3%;
background: #394046;
width: 45%;
height: 325px;
position: relative;
left: 10% ;
top: 10%;
float: left;
-webkit-border-radius: 15px;
-moz-border-radius: 15px;
border-radius: 15px;
margin-left: 0;
}


#formtit {

color: #ffa802; !IMPORTANT

}

#formalert {
color: #FF0000;

}


#labmess {

height: 5%;

}

input {

background: #282828;
border: 1px solid #525252;
width: 45%;
height: 25px;
color: #FFFFFF;
}

.forminput {

width: 13%;
height: 28px;
color: #FFFFFF;


margin-top: 10px;
}

textarea {

width: 90%;
height: 150px;
background: #282828;
border: 1px solid #525252;
color: #FFFFFF;
}



/* CONTACT PANEL */

#sidebar_cont {
	float: left;
	width: 250px;
	padding-left: 9px;
	font-family: Arial, Helvetica, sans-serif;
	font-size: 11px;
	color: #585D60;
	margin-top: 4.9%;
	margin-left: -5%;
}

#sidebar_cont h3{
	text-transform: uppercase;
	font-family: Trebuchet MS, Georgia, Times New Roman, Times, serif;
	font-weight: bold;
	
}

#sidebar_cont p {
font-weight: bolder;

}

#sidebar_cont a:link {
font-weight: normal;
color: #0C95C9;
}


/* FOTOGALLERY */

#lbOverlay {
	position: fixed;
	z-index: 9999;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #000;
	cursor: pointer;
}

#lbCenter, #lbBottomContainer {
	position: absolute;
	z-index: 9999;
	overflow: hidden;
	background-color: #fff;
}

.lbLoading {
	background: #fff url(../images/loading.gif) no-repeat center;
}

#lbImage {
	position: absolute;
	left: 0;
	top: 0;
	border: 10px solid #fff;
	background-repeat: no-repeat;
}

#lbPrevLink, #lbNextLink {
	display: block;
	position: absolute;
	top: 0;
	width: 50%;
	outline: none;
}

#lbPrevLink {
	left: 0;
}

#lbPrevLink:hover {
	background: transparent url(../images/prevlabel.gif) no-repeat 0 15%;
}

#lbNextLink {
	right: 0;
}

#lbNextLink:hover {
	background: transparent url(../images/nextlabel.gif) no-repeat 100% 15%;
}

#lbBottom {
	font-family: Verdana, Arial, Geneva, Helvetica, sans-serif;
	font-size: 10px;
	color: #666;
	line-height: 1.4em;
	text-align: left;
	border: 10px solid #fff;
	border-top-style: none;
}

#lbCloseLink {
	display: block;
	float: right;
	width: 66px;
	height: 22px;
	background: transparent url(../images/closelabel.gif) no-repeat center;
	margin: 5px 0;
	outline: none;
}

#lbCaption, #lbNumber {
	margin-right: 71px;
}

#lbCaption {
	font-weight: bold;
}

.fotogal {

margin-right: 20px;
margin-bottom: 20px;
-moz-box-shadow: 3px 3px 5px #7e7fa0;
-webkit-box-shadow: 3px 3px 5px #7e7fa0;
box-shadow: 3px 3px 5px #7e7fa0;
opacity: 0.7;
width: 12%;
}

.fotogal:hover {

opacity: 1;

};

#accordion_news {

width: 627px;

}