

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
   	background: #d6d6d6; /* Old browsers */
	background: -moz-linear-gradient(left,  #d6d6d6 1%, #f5f6f6 35%, #f5f6f6 60%, #d6d6d6 100%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, right top, color-stop(1%,#d6d6d6), color-stop(35%,#f5f6f6), color-stop(60%,#f5f6f6), 										color-stop(100%,#d6d6d6)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(left,  #d6d6d6 1%,#f5f6f6 35%,#f5f6f6 60%,#d6d6d6 100%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(left,  #d6d6d6 1%,#f5f6f6 35%,#f5f6f6 60%,#d6d6d6 100%); /* Opera 11.10+ */
	background: -ms-linear-gradient(left,  #d6d6d6 1%,#f5f6f6 35%,#f5f6f6 60%,#d6d6d6 100%); /* IE10+ */
	background: linear-gradient(to right,  #d6d6d6 1%,#f5f6f6 35%,#f5f6f6 60%,#d6d6d6 100%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#d6d6d6', endColorstr='#d6d6d6',GradientType=1 ); /* IE6-9 */
	}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
    font: 12px/16px Helvetica, Helvetica Neue, Arial;
	color:#666;
}

.wrapper {
    width: 90%;
    margin: auto;
	
}

nav li {
	text-overflow:ellipsis;

}
nav a {
    float: left;
    margin-bottom: 0;
    width: 16.66666666666666%;
	white-space:nowrap;
	}
nav a {
        color: white;
  background: #4ea3e5; /* Old browsers */
background: -moz-linear-gradient(top,   #999999 0%, #666666 50%,  #333333 99%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#999999), color-stop(50%,#666666), color-stop(99%, #333333)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #999999 0%,#666666 50%, #333333 99%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #999999 0%,#666666 50%, #333333 99%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #999999 0%,#66666650%, #333333 99%); /* IE10+ */
background: linear-gradient(to bottom,  #999999 0%,#666666 50%, #333333 99%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#999999', endColorstr=' #333333',GradientType=0 ); /* IE6-9 */
    display: block;
   
    padding: 15px 0;
    text-align: center;
    text-decoration: none;}

@media screen and (min-width: 961px) and (max-width: 2680px) {
.header-container {


}



#top {
		width:960px;
		margin:auto;
		background: url(../img/sfondoheader.jpg);
		/*border-bottom: dashed 4px  #CCC;*/
		-webkit-box-shadow: 0 5px 10px #aaa;
        -moz-box-shadow: 0 5px 10px #aaa;
         box-shadow: 0 5px 10px #aaa;}

#logo {
margin:auto;
width:350px;	
}


.footer-container,
.main aside {

}


.main aside {
border-left: solid 1px #E4E4E4 

}

#foto {
width:260px;
height:260px;
background:url(../img/io.jpg)
}
	

.footer-container { 	
}

#footer {
			width:960px;
			height:125px;
			background: url(../img/sfondoheader.jpg);
			background-repeat:repeat;
			-webkit-box-shadow: 0 5px 10px #aaa;
        -moz-box-shadow: 0 5px 10px #aaa;
         box-shadow: 0 5px 10px #aaa;
}
.title {
    color: white;
}

#topmenu {
width:960px;
}
nav ul {
    margin: 0;
    padding: 0;
	
}







nav a:hover,
nav a:visited {
    color: white;
}

nav a:hover {
    font-weight:bold;
	background: #0064a3; /* Old browsers */

background: -moz-linear-gradient(top,  #0064a3 0%, #003654 50%, #0064a3 99%); /* FF3.6+ */

background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0064a3), color-stop(50%,#003654), color-stop(99%,#0064a3)); /* Chrome,Safari4+ */

background: -webkit-linear-gradient(top,  #0064a3 0%,#003654 50%,#0064a3 99%); /* Chrome10+,Safari5.1+ */

background: -o-linear-gradient(top,  #0064a3 0%,#003654 50%,#0064a3 99%); /* Opera 11.10+ */

background: -ms-linear-gradient(top,  #0064a3 0%,#003654 50%,#0064a3 99%); /* IE10+ */

background: linear-gradient(to bottom,  #0064a3 0%,#003654 50%,#0064a3 99%); /* W3C */

filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0064a3', endColorstr='#0064a3',GradientType=0 ); /* IE6-9 */


}

/* ==============
    MOBILE: Main
   ============== */

.main {
    padding: 30px 20px 30px 20px;
}

.main article h1 {
    font-size: 2em;
}

.main aside {
    /*color: white;*/
    padding: 0px 5% 10px;
	font-size:11px;
	text-align:justify
}

.footer-container footer {
    color: #333333; /*ricordati di mettere text-shadow*/
    padding: 20px 0;
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}


    nav li:first-child a {
        margin-left: 0;
    }

    nav li:last-child a {
        margin-right: 0;
    }

#footermenuone {
width:100%;
margin:0;
}
.footermenu {
display:block;
margin-left:20px;
margin-top:0;
float:left;
height:80px;
width:100px
}

.footermenu h3 {
margin:0;
color:#999999;

}

.footermenu nav ul {
height:75px;
line-height:normal;
}

.footermenu li a {
font-size:86%;
float:none;
background:none;
color:#999999;
text-align:left;
padding:0;
border:none;
margin:0;

/*horizontal offset,
vertical offset,
blurradius,
shadow color
text-shadow:
1px 1px 1px #999999;*/
}

.footermenu li a:hover {
text-decoration:underline;
font-weight:normal
}

#footfour{
border-left: 1px solid #CCCCCC;
padding-left:10px;
height:120px;
}

#footfour li{
font-size:86%;
float:none;
background:none;
color:#999999;
text-align:left;
padding:0;
border:none;
margin:0;

/*horizontal offset,
vertical offset,
blurradius,
shadow color
text-shadow:
1px 1px 1px #999999;*/
}

#socialinfo {float:right;
			height:125px;
			margin-right:20px;
			}
#socialinfo p {
	font-size:86%;
	text-align:center;
	color:#999999;
	
}
#logofooter {width:100px;
				height:70px;
				margin:auto
				}
				
#socialicon {
margin-left:45px	
}
/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

    nav ul li {
        display: inline;
    }

    .oldie nav a {
        margin: 0 0.7%;
    }
	
    .main article {
        float: left;
        width: 57%;
    }
	
	#lastwork{
	width:98%;
	/*border: solid 1px #E4E4E4;*/
	height:370px;
	margin-top:5%

	}
	
	.titlesection {
	width:100%;
	height:25px;
	background: #0479af;
	color:white;
	text-align:center; 
	margin:0; 
	padding-top:10px
	
	}
	
	#boxone{
		float:left;
		margin:10px 3px 10px 10px}
		
	.didascalie p {
		font-size:76%;
		text-align:center;
		border-bottom:solid 1px #CCC
		
	}
		
	
	
	#boxtwo{
		float:left;
		margin:10px 3px 10px 3px}
	
	#boxthree{
		float:left;
		margin:10px 7px 10px 3px}

#boxfour{
		float:left;
		margin:10px 23px 10px 10px;
		width:140px;}
	
	#boxfive{
		float:left;
		margin:10px 3px 10px 3px}
	
	#boxsix{
		float:left;
		margin:10px 10px 10px 3px}
		
		
		
	#slider ul, #slider li,
	#slider2 ul, #slider2 li{
		margin:0;
		padding:0;
		list-style:none;
		}
	#prevBtn a {
	background: url(../img/prevbtn.png);
	width:36px;
	height:36px;
	background-repeat:no-repeat
	}
	#nextBtn a {
	background: url(../img/nextbtn.png);
	width:36px;
	height:36px;
	background-repeat:no-repeat
	}

	#slider li, #slider2 li{ 
		/* 
			define width and height of list item (slide)
			entire slider area will adjust according to the parameters provided here
		*/ 
		width:520px;
		height:320px;
		overflow:hidden; 
	
		}	
	
    .main aside {
        float: right;
        width: 28%;
    }
* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
	width:920px;
	background: #FFFFFF;
	border-left: 1px solid #EBEBEB;
	border-right: 1px solid #EBEBEB 
}
}

@media screen and (min-width: 321px) and (max-width: 960px) {
.wrapper {
    width: 100%;
    margin: auto;
	
}
#top {
		width:100%;
		margin:auto;
		background: url(../img/sfondoheader.jpg);
		/*border-bottom: dashed 4px  #CCC;*/
		-webkit-box-shadow: 0 5px 10px #aaa;
        -moz-box-shadow: 0 5px 10px #aaa;
         box-shadow: 0 5px 10px #aaa;}

#logo {
margin:auto;
width:250px;
height:179px;
background-image:url(../img/logoantoniopaganombile.png);	
}

#logo img {display:none}

/*menu mobile*/

topmenu {
width:100%;
}

nav ul {
    margin: 0;
    padding: 0;
	width:100%;
	
}
nav ul li {

font-size:76%;

}

nav a:hover,
nav a:visited {
    color: white;
}

nav a:hover {
    font-weight:bold;
	background: #0064a3; /* Old browsers */
	background: -moz-linear-gradient(top,  #0064a3 0%, #003654 50%, #0064a3 99%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0064a3), color-stop(50%,#003654), color-stop(99%,#0064a3)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #0064a3 0%,#003654 50%,#0064a3 99%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #0064a3 0%,#003654 50%,#0064a3 99%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #0064a3 0%,#003654 50%,#0064a3 99%); /* IE10+ */
	background: linear-gradient(to bottom,  #0064a3 0%,#003654 50%,#0064a3 99%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0064a3', endColorstr='#0064a3',GradientType=0 ); /* IE6-9 */
}

/*Contenuto*/
#container {
	width:100%;
	height:100%;
	background: #FFFFFF;}
.main-container {
background:white;
width:100%;
	height:100%;
	background: #FFFFFF;

}

#content {display:none }
.titlesection {display:none}
#slider {display:none}
#prevBtn {display:none}
#nextBtn {display:none}

#lastwork {
	width:70%;
	background:#FFFFFF;
	margin:auto;
	margin-top:15px;
	margin-bottom:15px;
	padding-bottom:10px;
	float:left;
}

.titlesectionmobile {}

#boxone {width:160px;
	height:140px;
	margin-left:10%;
	margin-right:10%;
	margin-bottom:15px;
	margin-top:10px;
	float:left}

#boxtwo {width:160px;
	height:140px;
	margin-left:10%;
	margin-right:10%;
	margin-bottom:15px;
	margin-top:10px;
	float:left}
	
#boxthree {width:160px;
	height:140px;
	margin-left:10%;
	margin-right:10%;
	margin-bottom:15px;
	margin-top:10px;
	float:left}
	
#boxfour {width:160px;
	height:140px;
	margin-left:10%;
	margin-right:10%;
	margin-bottom:15px;
	margin-top:10px;
	float:left}

#boxfive {width:160px;
	height:140px;
	margin-left:10%;
	margin-right:10%;
	margin-bottom:15px;
	margin-top:10px;
	float:left}

#boxsix {width:160px;
	height:140px;
	margin-left:10%;
	margin-right:10%;
	margin-bottom:15px;
	margin-top:10px;
	float:left}
	
.didascalie p {
	font-size:76%;
	text-align:center;
	border-bottom:solid 1px #CCC;
	margin-top:0px;
		
	}

aside {
	
	width:22%;
	float:right;
	padding: 2% 2% 2% 2%;
	font-size:76%;
	text-align:justify;
	margin-top:15px;
	background:#FFFFFF
}

#footer {clear:both;
width:100%;
height:125px;}
	
#footone nav, #footwo nav, #foothree nav,
#footfour nav { display:none
 
}
#footone nav li a {display:none
}

#footer h3 {display:none;
}

#footer {
			width:100%;
			height:auto;
			background: url(../img/sfondoheader.jpg);
			background-repeat:repeat;
			-webkit-box-shadow: 0 5px 10px #aaa;
        -moz-box-shadow: 0 5px 10px #aaa;
         box-shadow: 0 5px 10px #aaa;
		 margin-bottom:0px;
}


#socialinfo {
			height:125px;
			margin:auto
			}
#socialinfo p {
	font-size:66%;
	text-align:center;
	color:#999999;
	line-height:9px;
	
}
#logofooter {width:100px;
				height:70px;
				margin:auto
				}
				
#socialicon {
margin:auto;
width:20%;	
}


	
}

@media screen and (min-width: 100px) and (max-width: 320px) {
/* CSS rules 320 < width < 1024*/

.wrapper {
    width: 100%;
    margin: auto;
	
}
#top {
		width:100%;
		margin:auto;
		background: url(../img/sfondoheader.jpg);
		/*border-bottom: dashed 4px  #CCC;*/
		-webkit-box-shadow: 0 5px 10px #aaa;
        -moz-box-shadow: 0 5px 10px #aaa;
         box-shadow: 0 5px 10px #aaa;}

#logo {
margin:auto;
width:250px;
height:179px;
background-image:url(../img/logoantoniopaganombile.png);	
}

#logo img {display:none}

/*menu mobile*/

nav ul {
    margin: 0;
    padding: 0;
	
}

nav a {
	/*-webkit-border-radius: 10px;
	-moz-border-radius: 10px;	
	border-radius: 10px;*/
	
	display: block;
	width:100%;
   /* margin-bottom: 10px;*/
    padding: 15px 0;
	/*font-size:86%;*/
    text-align: center;
    text-decoration: none;
    /*font-weight: bold;*/

    color: white;
  background: #4ea3e5; /* Old browsers */
background: -moz-linear-gradient(top,   #999999 0%, #666666 50%,  #333333 99%); /* FF3.6+ */
background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#999999), color-stop(50%,#666666), color-stop(99%, #333333)); /* Chrome,Safari4+ */
background: -webkit-linear-gradient(top,  #999999 0%,#666666 50%, #333333 99%); /* Chrome10+,Safari5.1+ */
background: -o-linear-gradient(top,  #999999 0%,#666666 50%, #333333 99%); /* Opera 11.10+ */
background: -ms-linear-gradient(top,  #999999 0%,#66666650%, #333333 99%); /* IE10+ */
background: linear-gradient(to bottom,  #999999 0%,#666666 50%, #333333 99%); /* W3C */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#999999', endColorstr=' #333333',GradientType=0 ); /* IE6-9 */

}

nav a:hover,
nav a:visited {
    color: white;
}

nav a:hover {
    font-weight:bold;
	background: #0064a3; /* Old browsers */
	background: -moz-linear-gradient(top,  #0064a3 0%, #003654 50%, #0064a3 99%); /* FF3.6+ */
	background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#0064a3), color-stop(50%,#003654), color-stop(99%,#0064a3)); /* Chrome,Safari4+ */
	background: -webkit-linear-gradient(top,  #0064a3 0%,#003654 50%,#0064a3 99%); /* Chrome10+,Safari5.1+ */
	background: -o-linear-gradient(top,  #0064a3 0%,#003654 50%,#0064a3 99%); /* Opera 11.10+ */
	background: -ms-linear-gradient(top,  #0064a3 0%,#003654 50%,#0064a3 99%); /* IE10+ */
	background: linear-gradient(to bottom,  #0064a3 0%,#003654 50%,#0064a3 99%); /* W3C */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0064a3', endColorstr='#0064a3',GradientType=0 ); /* IE6-9 */
}

/*Contenuto*/
#container {
	width:100%;
	background: #FFFFFF;}
#content {display:none }
.titlesection {display:none}
#slider {display:none}
#prevBtn {display:none}
#nextBtn {display:none}

#lastwork {
	width:100%;
	background:#FFFFFF;
	margin:auto;
	margin-top:10px;
	margin-bottom:15px;
	padding-bottom:10px;
}

.titlesectionmobile {}

#boxone, #boxtwo, #boxthree,
#boxfour, #boxfive, #boxsix {
	width:160px;
	height:140px;
	margin:auto;
	margin-bottom:15px;
	margin-top:10px;
}
.didascalie p {
	font-size:76%;
	text-align:center;
	border-bottom:solid 1px #CCC;
	margin-top:0px;
		
	}
	
#footone nav, #footwo nav, #foothree nav,
#footfour nav { display:none
 
}
#footone nav li a {display:none
}

#footer h3 {display:none;
}

#footer {
			width:100%;
			height:auto;
			background: url(../img/sfondoheader.jpg);
			background-repeat:repeat;
			-webkit-box-shadow: 0 5px 10px #aaa;
        -moz-box-shadow: 0 5px 10px #aaa;
         box-shadow: 0 5px 10px #aaa;
		 margin-bottom:0px;
}


#socialinfo {
			height:125px;
			margin:auto
			}
#socialinfo p {
	font-size:66%;
	text-align:center;
	color:#999999;
	line-height:9px;
	
}
#logofooter {width:100px;
				height:70px;
				margin:auto
				}
				
#socialicon {
margin:auto;
width:20%;	
}

aside {
	
	
	padding: 4px 4px 4px 4px;
	font-size:76%;
	text-align:justify;
	margin-top:15px;
	background:#FFFFFF
}
	
