@charset "utf-8";
/* CSS Document */

.header-container {
    border-bottom: 20px solid #000BA5;
}

.footer-container,
.main aside {
    border-top: 20px solid #000BA5;
}

.header-container,
.footer-container
 {
    background: #0087ff;
}

.main aside {
background: #0087ff;
background: -moz-linear-gradient(-45deg,  #0087ff 0%, #000ba5 100%);
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#0087ff), color-stop(100%,#000ba5));
background: -webkit-linear-gradient(-45deg,  #0087ff 0%,#000ba5 100%);
background: -o-linear-gradient(-45deg,  #0087ff 0%,#000ba5 100%);
background: -ms-linear-gradient(-45deg,  #0087ff 0%,#000ba5 100%);
background: linear-gradient(135deg,  #0087ff 0%,#000ba5 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0087ff', endColorstr='#000ba5',GradientType=1 );
}

nav a {
    background: #000BA5;
}