@charset "utf-8";
/* CSS Document */

.header-container {
    border-bottom: 20px solid #060;
}

.footer-container,
.main aside {
    border-top: 20px solid #060;
}

.header-container,
.footer-container
 {
    background: #090;
}

.main aside {
		background: rgb(82,177,82);
background: -moz-linear-gradient(-45deg,  rgba(82,177,82,1) 0%, rgba(0,138,0,1) 32%, rgba(0,87,0,1) 79%, rgba(0,36,0,1) 100%); 
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(82,177,82,1)), color-stop(32%,rgba(0,138,0,1)), color-stop(79%,rgba(0,87,0,1)), color-stop(100%,rgba(0,36,0,1)));
background: -webkit-linear-gradient(-45deg,  rgba(82,177,82,1) 0%,rgba(0,138,0,1) 32%,rgba(0,87,0,1) 79%,rgba(0,36,0,1) 100%);
background: -o-linear-gradient(-45deg,  rgba(82,177,82,1) 0%,rgba(0,138,0,1) 32%,rgba(0,87,0,1) 79%,rgba(0,36,0,1) 100%);
background: -ms-linear-gradient(-45deg,  rgba(82,177,82,1) 0%,rgba(0,138,0,1) 32%,rgba(0,87,0,1) 79%,rgba(0,36,0,1) 100%);
background: linear-gradient(135deg,  rgba(82,177,82,1) 0%,rgba(0,138,0,1) 32%,rgba(0,87,0,1) 79%,rgba(0,36,0,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#52b152', endColorstr='#002400',GradientType=1 );
}

nav a {
    background: #060;
}