/* ==========================================================================
   HTML5 Boilerplate styles - h5bp.com (generated via initializr.com)
   ========================================================================== */

html,
button,
input,
select,
textarea {
    color: #222;
}

body {
    font-size: 1em;
    line-height: 1.4;
}

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

img {
    vertical-align: middle;
}

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

textarea {
    resize: vertical;
}

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}


/* ===== Initializr Styles ==================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */

body {
    font: 16px/26px Helvetica, Helvetica Neue, Arial;
}

.wrapper {
    width: 90%;
    margin: 0 5%;
}

/* ===================
    ALL: Orange Theme
   =================== */

/*.header-container {
    border-bottom: 20px solid #060;
}*/

.footer-container,
.main aside {
    /*border-top: 20px solid #060;*/
	text-align:center;
}

.main aside {
	border-top-right-radius: 20px;
    border-top-left-radius: 20px;
	border-bottom-right-radius: 20px;
    border-bottom-left-radius: 20px;
}

/*.header-container,
.footer-container
 {
    background: #090;
}*/

/*.main aside {
		background: rgb(82,177,82);
background: -moz-linear-gradient(-45deg,  rgba(82,177,82,1) 0%, rgba(0,138,0,1) 32%, rgba(0,87,0,1) 79%, rgba(0,36,0,1) 100%);
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,rgba(82,177,82,1)), color-stop(32%,rgba(0,138,0,1)), color-stop(79%,rgba(0,87,0,1)), color-stop(100%,rgba(0,36,0,1)));
background: -webkit-linear-gradient(-45deg,  rgba(82,177,82,1) 0%,rgba(0,138,0,1) 32%,rgba(0,87,0,1) 79%,rgba(0,36,0,1) 100%);
background: -o-linear-gradient(-45deg,  rgba(82,177,82,1) 0%,rgba(0,138,0,1) 32%,rgba(0,87,0,1) 79%,rgba(0,36,0,1) 100%);
background: -ms-linear-gradient(-45deg,  rgba(82,177,82,1) 0%,rgba(0,138,0,1) 32%,rgba(0,87,0,1) 79%,rgba(0,36,0,1) 100%);
background: linear-gradient(135deg,  rgba(82,177,82,1) 0%,rgba(0,138,0,1) 32%,rgba(0,87,0,1) 79%,rgba(0,36,0,1) 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#52b152', endColorstr='#002400',GradientType=1 );
}*/

.title {
    color: white;
}

.title a {
	text-decoration:none;
	color:#FFF;
}

a:hover {
	text-decoration: underline;
	color:#FFF;
}




/*-------------- colori sito --------------*/
#green a {
    display: inline-block;
    background: green;
    width: 32px;
    height: 32px;
    text-align: center;
    color: #999;
    line-height: 32px;
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
	-webkit-box-shadow: 0 5px 10px #aaa;
    -moz-box-shadow: 0 5px 10px #aaa;
    box-shadow: 0 5px 10px #aaa;
    font-size: 1.4em; Controllare la dimensione del testo
}

#yellow a {
    display: inline-block;
    background: yellow;
    width: 32px;
    height: 32px;
    text-align: center;
    color: #999;
    line-height: 32px;
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
	-webkit-box-shadow: 0 5px 10px #aaa;
    -moz-box-shadow: 0 5px 10px #aaa;
    box-shadow: 0 5px 10px #aaa;
    font-size: 1.4em; Controllare la dimensione del testo
}

#blue a {
    display: inline-block;
    background: blue;
    width: 32px;
    height: 32px;
    text-align: center;
    color: #999;
    line-height: 32px;
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
	-webkit-box-shadow: 0 5px 10px #aaa;
    -moz-box-shadow: 0 5px 10px #aaa;
    box-shadow: 0 5px 10px #aaa;
    font-size: 1.4em; Controllare la dimensione del testo
}

#red a {
    display: inline-block;
    background: red;
    width: 32px;
    height: 32px;
    text-align: center;
    color: #999;
    line-height: 32px;
    border-radius: 50%;
    text-align: center;
    text-decoration: none;
	-webkit-box-shadow: 0 5px 10px #aaa;
    -moz-box-shadow: 0 5px 10px #aaa;
    box-shadow: 0 5px 10px #aaa;
    font-size: 1.4em; Controllare la dimensione del testo
}




/*-------------- colori sito --------------*/

/*#immagine {
	width:450px;
	height:299px;
	margin:0;
	padding:0;
	background-image:url(../images/home.png);
	}*/
	


/* ==============
    MOBILE: Menu
   ============== */

nav ul {
    margin: 0;
    padding: 0;
}

nav a {
    display: block;
    margin-bottom: 10px;
    padding: 15px 0;

    text-align: center;
    text-decoration: none;
    font-weight: bold;

    color: white;
    /*background: #060;*/
}

nav a:hover,
nav a:visited {
    color: white;
}

nav a:hover {
    text-decoration: underline;
}

/* ==============
    MOBILE: Main
   ============== */

.main {
    padding: 30px 0;
}

.main article h1 {
    font-size: 2em;
}

.main aside {
    color: white;
    /*padding: 0px 5% 10px;*/
	padding: 10px;
}

.footer-container footer {
    color: white;
    padding: 20px 0;
}

/* ===============
    ALL: IE Fixes
   =============== */

.ie7 .title {
    padding-top: 20px;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */















/* ==========================================================================
   Media Queries
   ========================================================================== */

@media only screen and (min-width: 320px) {

/* ====================
    INTERMEDIATE: Menu
   ==================== */

/*    nav a {
        float: left;
        width: 12%;
        margin: 0 1.7%;
        padding: 25px 2%;
        margin-bottom: 0;
    }

    nav li:first-child a {
        margin-left: 0;
    }

    nav li:last-child a {
        margin-right: 0;
    }

/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

    /*nav ul li {
        display: inline;
    }

    .oldie nav a {
        margin: 0 0.7%;
    }*/
	
	
aside .blocco {
	background-image:url(../images/blocco_a.jpg);
	width:180px;
	height:120px;
	margin:auto;
}
	
aside .cerchio {
	background-image:url(../images/cerchio_a.jpg);
	width:180px;
	height:120px;
	margin:auto;
}

aside .incroci {
	background-image:url(../images/incroci_a.jpg);
	width:180px;
	height:120px;
	margin:auto;
}

aside .riga {
	background-image:url(../images/riga_a.jpg);
	width:180px;
	height:120px;
	margin:auto;
}

aside .stella {
	background-image:url(../images/stella_a.jpg);
	width:180px;
	height:120px;
	margin:auto;
}

#immagine {
	width:300px;
	height:200px;
	margin:0;
	padding:0;
	background-image:url(../images/home_a.png);
}

}

@media only screen and (min-width: 480px) {

/* ====================
    INTERMEDIATE: Menu
   ==================== */

    nav a {
        float: left;
        width: 12%;
        margin: 0 1.7%;
        padding: 25px 2%;
        margin-bottom: 0;
    }

    nav li:first-child a {
        margin-left: 0;
    }

    nav li:last-child a {
        margin-right: 0;
    }

/* ========================
    INTERMEDIATE: IE Fixes
   ======================== */

    nav ul li {
        display: inline;
    }

    .oldie nav a {
        margin: 0 0.7%;
    }
	
	


}

@media only screen and (min-width: 768px) {

/* ====================
    WIDE: CSS3 Effects
   ==================== */

    .header-container,
    .main aside {
        -webkit-box-shadow: 0 5px 10px #aaa;
           -moz-box-shadow: 0 5px 10px #aaa;
                box-shadow: 0 5px 10px #aaa;
    }

	


	
	

/* ============
    WIDE: Menu
   ============ */

    .title {
        float: left;
    }

    nav {
        float: right;
        width: 45%;
		font: 10px Helvetica, Helvetica Neue, Arial;
    }

/* ============
    WIDE: Main
   ============ */

    .main article {
        float: left;
        width: 57%;
    }

    .main aside {
        float: right;
        width: 28%;
    }
}

@media only screen and (min-width: 1140px) {

/* ===============
    Maximal Width
   =============== */

    .wrapper {
        width: 1026px; /* 1140px - 10% for margins */
        margin: 0 auto;
    }
	
aside .blocco {
	background-image:url(../images/blocco.jpg);
	width:250px;
	height:166px;
	margin:auto;
}
	
aside .cerchio {
	background-image:url(../images/cerchio.jpg);
	width:250px;
	height:166px;
	margin:auto;
}

aside .incroci {
	background-image:url(../images/incroci.jpg);
	width:250px;
	height:166px;
	margin:auto;
}

aside .riga {
	background-image:url(../images/riga.jpg);
	width:250px;
	height:166px;
	margin:auto;
}

aside .stella {
	background-image:url(../images/stella.jpg);
	width:250px;
	height:166px;
	margin:auto;
}

#immagine {
	width:450px;
	height:299px;
	margin:0;
	padding:0;
	background-image:url(../images/home.png);
}

}



/* ==========================================================================
   Helper classes
   ========================================================================== */

.ir {
    background-color: transparent;
    border: 0;
    overflow: hidden;
    *text-indent: -9999px;
}

.ir:before {
    content: "";
    display: block;
    width: 0;
    height: 100%;
}

.hidden {
    display: none !important;
    visibility: hidden;
}

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
}

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
}

.invisible {
    visibility: hidden;
}

.clearfix:before,
.clearfix:after {
    content: " ";
    display: table;
}

.clearfix:after {
    clear: both;
}

.clearfix {
    *zoom: 1;
}

/* ==========================================================================
   Print styles
   ========================================================================== */

@media print {
    * {
        background: transparent !important;
        color: #000 !important; /* Black prints faster: h5bp.com/s */
        box-shadow:none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links for images, or javascript/internal links
     */

    .ir a:after,
    a[href^="javascript:"]:after,
    a[href^="#"]:after {
        content: "";
    }

    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    thead {
        display: table-header-group; /* h5bp.com/t */
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    img {
        max-width: 100% !important;
    }

    @page {
        margin: 0.5cm;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}