@charset "utf-8";
/* CSS Document */

.header-container {
    border-bottom: 20px solid #F90;
}

.footer-container,
.main aside {
    border-top: 20px solid #F90;
	/*text-align:center;*/
}

.header-container,
.footer-container
 {
    background: #FF0;
}

.main aside {
background: #ffff00;
background: -moz-linear-gradient(-45deg,  #ffff00 0%, #ff9900 100%);
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#ffff00), color-stop(100%,#ff9900));
background: -webkit-linear-gradient(-45deg,  #ffff00 0%,#ff9900 100%)
background: -o-linear-gradient(-45deg,  #ffff00 0%,#ff9900 100%);
background: -ms-linear-gradient(-45deg,  #ffff00 0%,#ff9900 100%);
background: linear-gradient(135deg,  #ffff00 0%,#ff9900 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffff00', endColorstr='#ff9900',GradientType=1 );

}

nav a {
    background: #F90;
}

