
@import url('style.css');
@import url('textsett.css');
@import url('nav.css');
@import url('media.css');
@import url(http://fonts.googleapis.com/css?family=Fontdiner+Swanky|Cinzel+Decorative:400,700);

/* MAIN SETTING */

body {

    font-size: 1em;
    line-height: 1.4;
    color:#FFFFFF;
    background-color: #FFFFFF;
    margin: 0;
    color: #000000;
    z-index: -80;
    width: 100%;
   
    
}


#wrapper {

    width: 100%;
    margin: 0;
    overflow: hidden;
    
}

.upper {
    
    background-color: #000000;
    border-bottom: 6px solid #565383;
    position: fixed;
    display: block;
    top: 0;
    width: 100%;
    height: 50px;
    z-index: 9999;
}

.lower {

    z-index: 981;

}


#main {
   
    background-color: #FFFFFF; 
    margin-bottom: 20px;
    min-height: 550px;
    margin-top: 0;
}

#main{

  padding-top: 100px;


}

.logo{

    width: 633px;
    height: 230px;
    background: url(images/logo.png) no-repeat left top;
    background-size: 95%;
    margin-top: 2%;
    margin-left: 7%;
    position: relative;



}

.slog {

   position: absolute;
   width: 25%;
   top: 45%;
   right: 26%;
   
}



section {

   margin: 0 25% 0;

}

.infoas {

   float: right;
   width: 20%;
   background: #565383;
   padding-top: 20px;
   padding-right: 20px;
   box-shadow: 0 3px 3px #757575;
   border-top-left-radius: 7px;
   border-bottom-left-radius: 5px;
   margin-top: 6.5%;

}

#footer {

    width: 100%;
    height: 200px;
    position: relative;
    clear: both;
    bottom: 0;  
    background: #000000;
}

#footer section img {

    width: 20%;
    margin-left: -45%;

}

.fuck a{

   margin-left: -46%;
   color: #FFFFFF ;
   text-decoration: none;

}

.downlogo {
  
  width: 100%; 
  text-align: center;
}

.links, .copy{

   
   width: 15%;
   height: 150px;
   position: absolute;
   bottom: 13%;
}

.links {
   left: -20%;
   
}

.facebook-button, .twitter-follow-button, .linkedin-button {

    float: left;
    display: inline-block;
    width: 95%;
    margin-left: 20%;

}

.copy {
   right: -20%;
   
}

#myphoto {

	position: absolute;
	width: 25%;
	top: 60%;
	left: 0;
}


/* CONTACT FORM SETTINGS */


.contacts {

    
    width: 35%;
    height: 500px;
    margin-left: 0px;
    margin-bottom: 100px;
    margin-right: 0;
    float:left;
   
}

form{
   background:  #565383 !important;

   height: 500px;
   padding-top: 20px;
   padding-left: 20px;
   box-shadow: 4px 3px 3px #757575;
   border-top-right-radius: 7px;
   border-bottom-right-radius: 7px;
     
}

form p input {

    margin-left: 20px;
    margin-top: 10px;
    width: 60%;
    height: 25px;
    border-radius: 2px;
    border: none;
    box-shadow: 2px 2px 4px #353535;
}

form #testo {

    margin-left: 20px;
    margin-top: 10px;
    width: 70%;
    min-height: 150px;
    border-radius: 2px;
    border: none;
    box-shadow: 2px 2px 4px #353535;
    max-width: 80%;
    max-height: 150px;
}


.button {

    width: 100px;
    height: 35px;
    background: #CEF5F6 ;
    border: none;
    float: right;
    margin-top: 0;
    margin-right: 15%;
    border-radius: 6px;
    color: #565383;
    font-family: 'Fontdiner Swanky', Arial, Helvetica, sans-serif ;
    letter-spacing: 2px;
    font-size: 1.1em;
    box-shadow: 2px 2px 4px #353535;
    font-weight: bold;
}

.button:hover {

   color: #f6a01a; 
}



/* IE FIXES */  

.facebook-button img, .twitter-follow-button img, .linkedin-button img{

   border: none;
   

}


