/* MOBILE & MEDIA QUERIES */



@media only screen and (max-width: 1130px) {


.logo { 

   width: 50%;

}

.slog {

  width: 30%;
  right: 15%;
  top: 45%;
}

section {

   margin: 0 50px 0 300px;


}

.sec_title, .tir_title {
   font-size: 2.4em;
}


#myphoto {

  width: 27%;


}



.contacts {

  width: 50%;


}

.infoas {

  width: 35%;
}

#showcase {


max-width: 80%;
}


.downlogo {

  position: absolute;
  width: 120%;
  right: -40%;

}

.copy {

bottom: 0%;
right: 2%;
width: 15%;

}

.links {

  width: 230px;
  overflow: hidden;
}

.links a {

  margin-left: 50%;

}

}

@media only screen and (max-width: 830px) {
  .links { left: -30%;} 
  .slog { width: 30%; }
  #myphoto { width: 35%;}
}


/* TABLETS */
@media only screen and (max-width: 768px) {



.menu {

 margin-right: 18%;

}

.logo {

 background-size: 100%;

}

.slog {


   width: 40%;
   top: 40%;
   right: 15%;
}

.sec_title {

font-size: 2.4em;
margin-right: 5%;
}

.tir_title {
  font-size: 2.4em;
  margin-left: 5%;
}

section {

   margin: 0 100px 0 300px;


}


#myphoto {

 width: 35%;

}

#showcase {

max-width: 80%;
}


.contacts {


  width: 50%; 

}

.infoas {

  width: 35%;
  margin-top: 11.5%;
}


.downlogo {

  position: absolute;
  width: 160%;
  left: -27%;
}


.facebook-button, .twitter-follow-button, .linkedin-button {

 width: 230%;
 position: absolute;
 bottom: 30%;
}

.facebook-button {
 
  left: -25%;

}

.linkedin-button {

  left: 125%;

}

.twitter-follow-button {
   
   left: 50%;
}

.links {
  bottom: -40px;
  width: 125px;
  overflow: visible;
  left: -25%;
}

.copy {

bottom: 0%;
right: -10%;
width: 20%;
}


}

@media only screen and (max-width: 680px) { 
  .copy {opacity: 0;}
  #myphoto { width: 45%; }

}

@media only screen and (max-width: 600px) {



.sec_title, .tir_title {

  font-size: 2em;

}

.contacts {

 width: 70%;

}

.infoas {

float: left;

width: 40%;
  
   padding-top: 20px;
   padding-right: 20px;
   box-shadow: 3px 3px 3px #757575;
   border-top-right-radius: 7px;
   border-bottom-right-radius: 5px;
   border-top-left-radius: 0;
   border-bottom-left-radius: 0;
   margin-top: -2.5%;
   margin-bottom: 13.5%;

}

.downlogo {

left: -20%;

}



}

/* SMARTPHONES */
@media only screen and (max-width: 500px) {


.logo {
  
  position: absolute;
  top: 4%;
  width: 80%;
  min-width: 100px;
  margin-left: 9%;
}

.slog { 

  opacity: 0;
  display: none;

}

.upper {

 display: block;
 position: relative;
 height: 200px;
 margin-top: 50%;
 background: none;
 border: none;

}

.menu {

height: 200px;
width: 100%;
margin: 0;
left: 0;
text-align: center;
}

.menu li {

width: 100%;
margin-left: 9%;

}

.menu li a p:hover {

 background: #CEF5F6 ;
 

}

.menu li a p:active {
  
  color: #f6a01a; 
  
}


.menu li a p {

 width: 80%;
 background:  #565383;
 float: left;
 top: 20%;
 padding: 10px 0 10px;
 border-radius: 7px;
 margin-top: 0;
}



#main {

 padding-top: 0;


}

#myphoto {

   display: none;

}


section {

   margin: 0 80px 0 80px;


}


#showcase {


max-width: 70%;

}

.contacts {

  width: 100%;

}

.infoas {

  width: 100%;

}

.links {

  left: 30%;

}

.downlogo {
 
 left: -10%;

}

section p {

  font-size: 0.9em;

}

.tir_title, .sec_title {

 padding-top: 40px;

}


}

@media only screen and (max-width: 310px) {

.contacts{
 
  display: none;

}

.showcase {

display: none;

}

.showfoot {

margin: 0 5px 0;

}

section {

margin: 0 30px 0px 30px;

}


}


@media only screen and (min-height: 900px) {

.slog {

  top: 32%;
}

#myphoto {

width: 20%;
margin-top: -15%;  

}

}



@media only screen and (max-height: 600px) {

.slog {

  top: 50%;
}

#myphoto {

width: 30%;
margin-top: 20%;  

}

}

@media only screen and (max-height: 480px) {

.slog {

  top: 67%;
  width: 40%;
  right: 10%;
}

#myphoto {

width: 35%;
margin-top: 45%;  

}

}

