/* NAVBAR & LINKS SETTINGS */


.menu {
    
    
    float: right;
    width: 540px;
    list-style: none;
    text-align: right;
    margin-top: -10px;
    margin-right: 3%; 
    
}  

.menu li{

    margin-left: 60px;
    display: block;
    float: left;

}

.menu li a {

    text-decoration: none;
    color: #FFFFFF;
    font-weight: bolder;
    font-size: 1.3em;
    font-family: 'Cinzel Decorative';
      
}

.menu li a:visited {

	color: #FFFFFF;
}

.menu li a:hover {

  color: #565383; ;

}

