/* TEXT SETTINGS */




.sec_title {
    
    background: none;
    color: #565383;
    font-size: 3.0em;
    text-align: right;
    border-bottom: 10px solid #CEF5F6;
    margin-right: 100px;
    font-family: 'Fontdiner Swanky', Helvetica, Arial, sans-serif;
    padding-top: 100px;
    z-index: 980;
}

.tir_title {

    color: #565383;
    font-size: 3.0em;
    text-align: left;
    border-bottom: 10px solid #CEF5F6;
    margin-left: 100px;
    font-family: 'Fontdiner Swanky', Helvetica, Arial, sans-serif;
    padding-top: 100px;

    
}

 section p {

   font-weight: bold;
   font-family: Arial, Helvetica,sans-serif;
 }

 section p:first-letter {
   
   font-family: 'Cinzel Decorative', Arial, Helvetica, sans-serif;
   font-size: 2em;
   
 }

 section p:first-line {
   
    line-height: 1em;
 }

.formtit {

  font-family: 'Fontdiner Swanky', Helvetica, Arial, sans-serif;
  color: #CEF5F6;
  font-size: 1.4em;
  margin-left: 20px;
  margin-right: 10px;
  border-bottom: 3px solid #CEF5F6;


}

.asidetit {

  font-family: 'Fontdiner Swanky', Helvetica, Arial, sans-serif;
  color: #CEF5F6;
  font-size: 1.2em;
  margin-left: 10px;
  margin-right: 20px;
  border-bottom: 3px solid #CEF5F6;
  text-align: right;


}
label {

  color: #FFFFFF;
  font-size: 0.9em;
  font-weight: bolder;
}

.stupid{
  
  vertical-align: 75px ;
}

#formalert {
   color: #FF0000;
   font-family: Helvetica, Arial, sans-serif;
   font-size: 0.8em;

}

.fstop{

   display: block;  
   font-size: 0.9em;
   font-weight: normal;
   font-style: italic;
   text-decoration: none;
   color: #FFFFFF;
}

.fstop a{

   font-weight: bold;
   color: #FFFFFF;

}

.fstop a:hover {
   
   color: #CEF5F6 ;
   text-decoration: underline;
}



.infoas p {

     margin: 5% 20% 5%;
     color: #FFFFFF;
     font-family:  Helvetica, Arial, sans-serif;
     font-size: 1.1em;
     font-weight: bold;
     text-align: center;
}

.copy p {

    
     color: #c8c8c8;
     font-family:  Helvetica, Arial, sans-serif;
     font-size: 0.8em;
     font-weight: normal;
     font-style: italic;
     text-align: left;
}

.copy p:first-letter {
	font-size: 0.9em;
	font-family:  Helvetica, Arial, sans-serif;
}

.fuck a:hover {
 
 color: #565383;
 font-size: 1.1em

}

.showfoot {

  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  font-size: 0.9em;
  text-align: center;

}




