@charset "utf-8";
/* CSS Document */

.header-container {
    border-bottom: 20px solid #900;
}

.footer-container,
.main aside {
    border-top: 20px solid #900;
}

.header-container,
.footer-container
 {
    background: #F00;
}

.main aside {
background: #ff0000;
background: -moz-linear-gradient(-45deg,  #ff0000 0%, #990000 100%);
background: -webkit-gradient(linear, left top, right bottom, color-stop(0%,#ff0000), color-stop(100%,#990000));
background: -webkit-linear-gradient(-45deg,  #ff0000 0%,#990000 100%);
background: -o-linear-gradient(-45deg,  #ff0000 0%,#990000 100%);
background: -ms-linear-gradient(-45deg,  #ff0000 0%,#990000 100%); 
background: linear-gradient(135deg,  #ff0000 0%,#990000 100%);
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff0000', endColorstr='#990000',GradientType=1 );
}

nav a {
    background: #900;
}